<h1>Checkout</h1>
<%= form_tag blanket_pay_path(@blanket.slug) do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.application.secrets.stripe_public_key %>"
    data-amount="500"
    data-name="<%= Rails.application.config.site_name %>"
    data-description="<%= @blanket.name %>"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
<% end %>
