<h1><%= @blanket.name %></h1>
<% if @blanket.ready %>
  <table>
    <tr>
      <td>Date</td>
      <td>Low (F)</td>
      <td>High (F)</td>
    </tr>
    <% @blanket.days.each do |day| %>
      <tr>
        <td><%= day.date %></td>
        <td><%= day.low_temperature %></td>
        <td><%= day.high_temperature %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>We're still gathering data...</p>
<% end %>