<h1><%= @blanket.name %></h1>
<% if @blanket.ready %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Low (F)</th>
        <th>High (F)</th>
      </tr>
    </thead>
    <tbody>
      <% @blanket.days.each do |day| %>
        <tr>
          <td><%= day.date %></td>
          <td><%= day.low_temperature %></td>
          <td><%= day.high_temperature %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>We're still gathering data...</p>
<% end %>