<h1><%= @blanket.name %> has new data!</h1>
<p>
  You can view the updates for your custom blanket pattern at <%= link_to blanket_url(slug: @blanket.slug), blanket_url(slug: @blanket.slug) %>.
</p>
<p>Thanks again for using <%= Rails.application.config.site_name %> and have a great day!</p>
<p>Seth Charles</p>
