<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="card mb-3">
      <div class="card-block">
        <h5 class="card-subtitle text-muted mb-2">Temperature Blanket Pattern</h6>
        <p class="card-text">Get a customized temperature blanket pattern based on your location. <%= Rails.application.config.site_name.capitalize %> will automatically gather past temperature data for your location so you don't have to look up every single day.</p>
        <%= link_to 'Create Your Pattern', new_blanket_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="card mb-3">
      <div class="card-block">
        <h5 class="card-subtitle text-muted mb-2">Examples</h6>
        <p class="card-text">Here are some sample temperature blanket patterns. These patterns are free for everyone.</p>
      </div>
      <ul class="list-group list-group-flush">
        <% @sample_blankets.each do |b| %>
          <a href="<%= blanket_path(slug: b.slug) %>">
            <li class="list-group-item">
              <img class="rounded" src="<%= blanket_path(slug: b.slug, format: :svg) %>" width="100%" height="20px" />
            </li>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
</div>