<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <%= link_to 'Browse', admin_blankets_path, class: "nav-link #{'active' if active == :blankets}" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Pending Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Completed Jobs</a>
  </li>
</ul>
