<div class="row">
  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <%= render partial: 'sidebar', locals: {active: :yarns} %>
  </nav>
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Yarns</h1>
    <%= link_to 'New Yarn', [:new, :admin, :yarn], class: 'btn btn-primary mb-3' %>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @yarns.each do |y| %>
        <tr>
          <td><%= link_to y.name, [:admin, y] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @yarns, theme: 'twitter-bootstrap-4' %>
  </main>
</div>